wheel
setuptools
zmq
tqdm
wget
scipy
jax
jraph
torch 
torchvision 
torchaudio
h5py
matplotlib
google-cloud-storage
hdf5plugin
pandas
tensorflow-gpu
tensorflow
scikit-image
opencv-python
numpy
blimpy
Keras
Keras-Applications
Keras-Preprocessing
keras-vis
jupyter
jax
dm-haiku
astropy